.mode-btn__img {
  width: 48px;
}

.dark header {
  background-image: linear-gradient(
    to right,
    var(--toRightBlue) 50%,
    var(--toRightDark) 50%
  );
}
.dark .navbar-shrink {
  background: var(--gameBgP);
}

.dark .game-bg {
  background-image: linear-gradient(
    to right,
    var(--toRightBlue) 50%,
    var(--toRightDark) 50%
  );
}
.dark .game-bg__fire--span {
  color: var(--toRightDark);
}

.dark .game-bg__btn {
  background-color: var(--toRightDark);
}
.dark .yellow_section {
  background-color: rgb(143, 143, 143);
}
.dark .game-bg__btn{
  background-color: var(--brownColor);
}
.dark .two_section_brends:hover{
  /* background-color: #0056b3; Darker blue background */
    /* color: #ff0000; Gold text color */
    box-shadow: 0 0 20px rgba(255, 0, 0, 0.8); /* Glow effect */
    border-radius: 15px;
}
.dark .thumbnail{
  transition: .5s ease;
}
.dark .thumbnail:hover{
  box-shadow: 0 0 100px rgba(255, 0, 0, 0.8);
  border-radius: 50px;
  transition: .5s ease;
}