body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.container_video {
    position: relative;
    text-align: center;
}

.thumbnail {
    width: 600px;
    cursor: pointer;
}

.play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    border-radius: 50%;
    /* padding: 10px 20px; */
    font-size: 20px;
    cursor: pointer;
}

.play-button:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

video {
    width: 600px;
}
